config/nodered/flows.json
[
  {
    "id": "example_flows",
    "type": "tab",
    "label": "Device Telemetry Pipeline",
    "disabled": false,
    "info": "Example flows for processing IO-Link device telemetry data",
    "env": []
  },
  {
    "id": "mqtt_in_telemetry",
    "type": "mqtt in",
    "z": "example_flows",
    "name": "Device Telemetry",
    "topic": "devices/+/telemetry",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 100,
    "wires": [
      [
        "parse_telemetry",
        "debug_telemetry"
      ]
    ]
  },
  {
    "id": "parse_telemetry",
    "type": "function",
    "z": "example_flows",
    "name": "Parse & Enrich",
    "func": "// Extract device ID from topic\nconst topicParts = msg.topic.split('/');\nconst deviceId = topicParts[1];\n\n// Enrich payload\nconst payload = msg.payload;\npayload.device_id = deviceId;\npayload.timestamp = payload.timestamp || new Date().toISOString();\npayload.source = 'mqtt';\n\n// Store in flow context for aggregation\nflow.set(`device_${deviceId}_latest`, payload);\n\nmsg.payload = payload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 100,
    "wires": [
      [
        "route_by_parameter",
        "influx_write"
      ]
    ]
  },
  {
    "id": "route_by_parameter",
    "type": "switch",
    "z": "example_flows",
    "name": "Route by Parameter",
    "property": "payload.parameter",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "temperature",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "pressure",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "flow_rate",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 4,
    "x": 560,
    "y": 100,
    "wires": [
      [
        "check_temp_threshold"
      ],
      [
        "check_pressure_threshold"
      ],
      [
        "process_flow_rate"
      ],
      [
        "other_parameters"
      ]
    ]
  },
  {
    "id": "check_temp_threshold",
    "type": "function",
    "z": "example_flows",
    "name": "Temperature Alert",
    "func": "const value = parseFloat(msg.payload.value);\nconst deviceId = msg.payload.device_id;\n\n// Check thresholds\nif (value > 80) {\n    msg.payload = {\n        device_id: deviceId,\n        alert_type: 'temperature_high',\n        severity: 'critical',\n        value: value,\n        threshold: 80,\n        message: `Temperature critical on device ${deviceId}: ${value}°C`,\n        timestamp: new Date().toISOString()\n    };\n    return msg;\n} else if (value < 10) {\n    msg.payload = {\n        device_id: deviceId,\n        alert_type: 'temperature_low',\n        severity: 'warning',\n        value: value,\n        threshold: 10,\n        message: `Temperature low on device ${deviceId}: ${value}°C`,\n        timestamp: new Date().toISOString()\n    };\n    return msg;\n}\n\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 60,
    "wires": [
      [
        "publish_alert"
      ]
    ]
  },
  {
    "id": "check_pressure_threshold",
    "type": "function",
    "z": "example_flows",
    "name": "Pressure Alert",
    "func": "const value = parseFloat(msg.payload.value);\nconst deviceId = msg.payload.device_id;\n\n// Check thresholds\nif (value > 100) {\n    msg.payload = {\n        device_id: deviceId,\n        alert_type: 'pressure_high',\n        severity: 'critical',\n        value: value,\n        threshold: 100,\n        message: `Pressure critical on device ${deviceId}: ${value} bar`,\n        timestamp: new Date().toISOString()\n    };\n    return msg;\n} else if (value < 20) {\n    msg.payload = {\n        device_id: deviceId,\n        alert_type: 'pressure_low',\n        severity: 'warning',\n        value: value,\n        threshold: 20,\n        message: `Pressure low on device ${deviceId}: ${value} bar`,\n        timestamp: new Date().toISOString()\n    };\n    return msg;\n}\n\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 100,
    "wires": [
      [
        "publish_alert"
      ]
    ]
  },
  {
    "id": "process_flow_rate",
    "type": "function",
    "z": "example_flows",
    "name": "Flow Rate Processing",
    "func": "const value = parseFloat(msg.payload.value);\nconst deviceId = msg.payload.device_id;\n\n// Calculate running average\nconst history = flow.get(`flow_rate_${deviceId}_history`) || [];\nhistory.push(value);\nif (history.length > 10) {\n    history.shift();\n}\nflow.set(`flow_rate_${deviceId}_history`, history);\n\nconst average = history.reduce((a, b) => a + b, 0) / history.length;\n\nmsg.payload.average = average.toFixed(2);\nmsg.payload.samples = history.length;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 800,
    "y": 140,
    "wires": [
      [
        "debug_flow_rate"
      ]
    ]
  },
  {
    "id": "other_parameters",
    "type": "debug",
    "z": "example_flows",
    "name": "Other Parameters",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 790,
    "y": 180,
    "wires": []
  },
  {
    "id": "publish_alert",
    "type": "mqtt out",
    "z": "example_flows",
    "name": "Publish Alert",
    "topic": "alerts/devices",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker",
    "x": 1010,
    "y": 80,
    "wires": []
  },
  {
    "id": "influx_write",
    "type": "function",
    "z": "example_flows",
    "name": "Format for InfluxDB",
    "func": "// This prepares data for InfluxDB ingestion service\n// The actual write is done by the influx-ingestion service\n// listening to MQTT topics\n\n// Just pass through - the service handles it\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 200,
    "wires": [
      [
        "debug_influx"
      ]
    ]
  },
  {
    "id": "debug_telemetry",
    "type": "debug",
    "z": "example_flows",
    "name": "Debug Telemetry",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 350,
    "y": 40,
    "wires": []
  },
  {
    "id": "debug_flow_rate",
    "type": "debug",
    "z": "example_flows",
    "name": "Debug Flow Rate",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1010,
    "y": 140,
    "wires": []
  },
  {
    "id": "debug_influx",
    "type": "debug",
    "z": "example_flows",
    "name": "Debug InfluxDB",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 780,
    "y": 200,
    "wires": []
  },
  {
    "id": "mqtt_in_status",
    "type": "mqtt in",
    "z": "example_flows",
    "name": "Device Status",
    "topic": "devices/+/status",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 130,
    "y": 280,
    "wires": [
      [
        "update_device_status"
      ]
    ]
  },
  {
    "id": "update_device_status",
    "type": "function",
    "z": "example_flows",
    "name": "Update Device Status",
    "func": "const topicParts = msg.topic.split('/');\nconst deviceId = topicParts[1];\n\nconst status = msg.payload;\nstatus.device_id = deviceId;\nstatus.last_seen = new Date().toISOString();\n\n// Store in flow context\nflow.set(`device_${deviceId}_status`, status);\n\n// Check for connection state changes\nif (status.state === 'disconnected') {\n    msg.payload = {\n        device_id: deviceId,\n        alert_type: 'device_disconnected',\n        severity: 'warning',\n        message: `Device ${deviceId} disconnected`,\n        timestamp: status.last_seen\n    };\n    return [msg, null];\n} else if (status.state === 'connected') {\n    msg.payload = status;\n    return [null, msg];\n}\n\nreturn [null, msg];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 280,
    "wires": [
      [
        "publish_alert"
      ],
      [
        "debug_status"
      ]
    ]
  },
  {
    "id": "debug_status",
    "type": "debug",
    "z": "example_flows",
    "name": "Debug Status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 580,
    "y": 320,
    "wires": []
  },
  {
    "id": "inject_test_telemetry",
    "type": "inject",
    "z": "example_flows",
    "name": "Test: Temperature",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "devices/test-device-001/telemetry",
    "payload": "{\"parameter\":\"temperature\",\"value\":85.5,\"unit\":\"°C\"}",
    "payloadType": "json",
    "x": 150,
    "y": 400,
    "wires": [
      [
        "mqtt_out_test"
      ]
    ]
  },
  {
    "id": "inject_test_pressure",
    "type": "inject",
    "z": "example_flows",
    "name": "Test: Pressure",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "devices/test-device-001/telemetry",
    "payload": "{\"parameter\":\"pressure\",\"value\":105.2,\"unit\":\"bar\"}",
    "payloadType": "json",
    "x": 140,
    "y": 440,
    "wires": [
      [
        "mqtt_out_test"
      ]
    ]
  },
  {
    "id": "inject_test_flow",
    "type": "inject",
    "z": "example_flows",
    "name": "Test: Flow Rate",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "devices/test-device-001/telemetry",
    "payload": "{\"parameter\":\"flow_rate\",\"value\":42.7,\"unit\":\"L/min\"}",
    "payloadType": "json",
    "x": 140,
    "y": 480,
    "wires": [
      [
        "mqtt_out_test"
      ]
    ]
  },
  {
    "id": "mqtt_out_test",
    "type": "mqtt out",
    "z": "example_flows",
    "name": "Send Test Data",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker",
    "x": 370,
    "y": 440,
    "wires": []
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Greenstack MQTT",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "nodered",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "nodered/status",
    "birthQos": "1",
    "birthPayload": "{\"state\":\"connected\"}",
    "birthMsg": {},
    "closeTopic": "nodered/status",
    "closeQos": "1",
    "closePayload": "{\"state\":\"disconnected\"}",
    "closeMsg": {},
    "willTopic": "nodered/status",
    "willQos": "1",
    "willPayload": "{\"state\":\"disconnected\"}",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": "",
    "credentials": {
      "user": "iodd",
      "password": "mqtt123"
    }
  }
]
